body {
  background: #8360c3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2ebf91, #8360c3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2ebf91, #8360c3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  margin: 0 0 20px;
  font-family: 'Lobster', cursive;
  font-size: 6rem;
}

h2 {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

img {
  height: 225px;
  width: 225px;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.logo {
  font-family: 'Lobster', cursive;
  margin-top: 20px;
  margin-left: 20px;
}

/* Welcome*/
.welcome-table {
  margin: 30px auto 0;
}

.welcome-message {
  padding-left: 50px;
  padding-right: 50px;
  width: 600px;
}

.login-button {
  background-color: #2ebf91;
  border-radius: 40px;
  border-style: none;
  height: 60px;
  font-size: 20px;
  margin-top: 20px;
  width: 250px;
}

/*Image Table*/
.welcome-image {
  background-color: black;
  height: 675px;
  width: 675px;
}

.row {
  height: 675px;
  width: 675px;
  margin: 0;
}

/* For flipping images in the collage */
.flip-img {
  background-color: transparent;
  width: 225px;
  height: 225px;
  perspective: 1000px;
}

.flip-inner {
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  background-color: transparent;
  width: 225px;
  height: 225px;
  perspective: 1000px;
}

.flip-img:hover .flip-inner {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}