body {
  background: #8360c3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2ebf91, #8360c3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2ebf91, #8360c3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Montserrat', sans-serif;
}

button{
  font-size: 1.2rem;
  height: 45px;
  width: 170px;
  border-radius: 20px;
  margin-right: 10px;
}

h1{
  font-size: 5rem;
  font-family: 'Lobster', cursive;
  margin-bottom: 20px;
}

img{
  height: 225px;
  width: 225px;
}

select{
    background-color: transparent;
    border-style: none;
    font-size: 1.2rem;
}

.logo-text{
margin: 15px 0 20px 10px;
font-family: 'Lobster', cursive;
}

.top{
    margin: 150px auto;
}

.profile-pic{
  border-radius: 50%;
}

/* Collage Header and Filters */
.filters-display{
  text-align: center;
}

.collage-filter{
  height: 40px;
  width: 160px;
}

.dropdown-table{
  margin: 25px auto;
}

/* [Artists/Tracks] List*/
.collage-list{
  margin-left: 75px;
  font-size: 2rem;
  position: absolute;
  overflow-wrap: break-word;
  width: 500px;
}

/* Collage */
.col{
 flex-grow: 0;
 height: 225px;
 padding: 0;
 width: 225px;
}

.three{
 height: 675px;
 /*margin-left: 600px;*/
 width: 675px;
}

.four{
 height: 900px;
 /*margin-left: 500px;*/
 width: 900px;
}

.row{
  margin: 0 auto;
}

.display-text{
    bottom: 0px;
    color: white;
    font-size: 1.1rem;
    hyphens: auto;
    line-height: 25px;
    margin-bottom: 0;
    overflow-wrap: break-word;
    position: absolute;
    text-shadow: black 0 1px 10px;
}