<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Spotify Collagify</title>
  <link rel="shortcut icon" type="image/jpg" href="../favicon.ico" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster|Montserrat&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/24ad3dfefe.js" crossorigin="anonymous"></script>
</head>


<body>
  <h4 class="logo">Spotify Collagify</h4>
  <div class="top">
    <table class="welcome-table">
      <tr>
        <td class="welcome-message">
          <h1>Spotify Collagify</h1>
          <h3>Generate a collage of your top tracks and artists on Spotify.</h3>
          <a href="/authorize"><button class="login-button" type="button">Login with Spotify <i class="fab fa-spotify"></i></button></a>
        </td>
        <td class="welcome-image">


          <div class="row">
            <!--  First Row of Collage-->
            <div class="flip-img">
              <div class="flip-inner">
                <div class="front">
                  <img src="https://i.scdn.co/image/d3a6192a9bc0d68f9b3a5dbbab4ef3618755d289" alt="sample-img">
                </div>
                <div class="back">
                  <img src="https://i.scdn.co/image/ab67616d0000b273c1b0096e79bc8e42a9bbf6b5" alt="sample-img">
                </div>
              </div>
            </div>

            <div class="flip-img">
              <div class="flip-inner">
                <div class="front">
                  <img src="https://i.scdn.co/image/96be0d7941fbafb03e457b23db5783f8a2929098" alt="sample-img">
                </div>
                <div class="back">
                  <img src="https://i.scdn.co/image/ab67616d0000b2735d0a8e54aba5181c79593b94" alt="sample-img">
                </div>
              </div>
            </div>

            <div class="flip-img">
              <div class="flip-inner">
                <div class="front">
                  <img src="https://i.scdn.co/image/0f639c7cb271df4f23cc9ffcd777b5328ffec941" alt="sample-img">
                </div>
                <div class="back">
                  <img src="https://i.scdn.co/image/ab67616d0000b27332705f2d1763b4e63b8f2817" alt="sample-img">
                </div>
              </div>
            </div>
            <div class="w-100"></div>
            <!--  Second Row of Collage-->
            <div class="flip-img">
              <div class="flip-inner">
                <div class="front">
                  <img src="https://i.scdn.co/image/fb415d9a39631851fe9c51eec1ce8d9bad068266" alt="sample-img">
                </div>
                <div class="back">
                  <img src="https://i.scdn.co/image/ab67616d0000b273e309c391d5d7bbc5bc372458" alt="sample-img">
                </div>
              </div>
            </div>

            <div class="flip-img">
              <div class="flip-inner">
                <div class="front">
                  <img src="https://i.scdn.co/image/2ac7ad2c49fcf210ce6d7444d2bbf4cdc26277d1" alt="sample-img">
                </div>
                <div class="back">
                  <img src="https://i.scdn.co/image/00d88427ba1106f93b9a3072f4ac4d38f09a5368" alt="sample-img">
                </div>
              </div>
            </div>

            <div class="flip-img">
              <div class="flip-inner">
                <div class="front">
                  <img src="https://i.scdn.co/image/ab67616d0000b2734c3bbcff5e7248e415548f12" alt="sample-img">
                </div>
                <div class="back">
                  <img src="https://i.scdn.co/image/ab67616d0000b273da617d05b4aec07817cf6ea2" alt="sample-img">
                </div>
              </div>
            </div>

            <div class="w-100"></div>
            <!--  Third Row of Collage -->
            <div class="flip-img">
              <div class="flip-inner">
                <div class="front">
                  <img src="https://i.scdn.co/image/ab67616d0000b27389992f4d7d4ab94937bf9e23" alt="sample-img">
                </div>
                <div class="back">
                  <img src="https://i.scdn.co/image/ab67616d0000b2735abb6293ed002a0a3c7871c9" alt="sample-img">
                </div>
              </div>
            </div>

            <div class="flip-img">
              <div class="flip-inner">
                <div class="front">
                  <img src="https://i.scdn.co/image/ab67616d0000b2738e525253c87c568cd84e491b" alt="sample-img">
                </div>
                <div class="back">
                  <img src="https://i.scdn.co/image/ab67616d0000b273efc6988972cb04105f002cd4" alt="sample-img">
                </div>
              </div>
            </div>

            <div class="flip-img">
              <div class="flip-inner">
                <div class="front">
                  <img src="https://i.scdn.co/image/568af6f24bd8b86bae18f0327e80027feed6f8e8" alt="sample-img">
                </div>
                <div class="back">
                  <img src="https://i.scdn.co/image/ab67616d0000b2738025ee6a56135658799b07ba" alt="sample-img">
                </div>
              </div>
            </div>

          </div>
        </td>
      </tr>
    </table>
  </div>

</body>

</html>
