<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Spotify Collagify</title>
  <link rel="stylesheet" href="/static/styles.css">
  <script src="https://kit.fontawesome.com/24ad3dfefe.js" crossorigin="anonymous"></script>
</head>


<body>
  <div class="top">
    <table class="welcome-table">
      <tr>
        <td class="welcome-message">
          <h1>Welcome {{username}}</h1>
          <h3>Generate a collage of your top tracks and artists on Spotify.</h3>
          <a href="/authorize"><button class="login-button" type="button" name="button">Login with Spotify <i class="fab fa-spotify"></i></button></a>
        </td>
        <td class="welcome-image">
          <img src="" alt="Example Collage">
        </td>
      </tr>
    </table>
    </div>


  <div class="middle">
    <h2>Features</h2>
    <table class="features-table">
      <tr>
        <td class="choose-artists">
          <h3>Choose Artists or Tracks</h3>
          <img src="" alt="Artists or Tracks">
        </td>
        <td class="sort-by-time">
          <h3>Sort by Time</h3>
          <img src="" alt="Time Dropdown Selection">
        </td>
      </tr>
    </table>
  </div>


  <div class="bottom">
    <h1>New Features Coming soon!</h1>
    <table class="new-features">
      <tr>
        <td>
          <h3>App Store and Play Store</h3>
        </td>
        <td>
          <img src="" alt="iPhone and Android image">
        </td>
      </tr>
    </table>
  </div>

</body>
<footer>
  <a href="#">Contact Me</a>
  <a href="#">Contact Me</a>
  <a href="#">Contact Me</a>
</footer>

</html>
