<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>{{username}}'s Collage</title>
  <link rel="shortcut icon" type="image/jpg" href="../static/favicon.ico">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="{{ url_for('static', filename='user.js') }}"></script>
  <link href="https://fonts.googleapis.com/css?family=Lobster|Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/user-styles.css">
</head>

<body>
  <a href="/" class="logout">Logout</a>
  <h4 class="logo-text">Spotify Collagify</h4>
  <div class="filters-display">
    <h1>Generate Your Collage</h1>
    <h3>Customize your collage below.</h3>
    <form name="filter_form">
      <table class="dropdown-table">
        <tr>
          <td>
            <button type="button">
              <select class="collage-filter" id="collage_type">
                <option value="artists">Artists</option>
                <option value="tracks">Tracks</option>
              </select>
            </button>
          </td>
          <td>
            <button type="button">
              <select class="collage-filter" id="time_frame">
                <option value="short_term">Past Month</option>
                <option value="medium_term">6 Months</option>
                <option value="long_term">All Time</option>
              </select>
            </button>
          </td>
          <td>
            <button type="button">
              <select class="collage-filter" id="size">
                <option value="3">3 x 3</option>
                <option value="4">4 x 4</option>
              </select>
            </button>
          </td>
          <td>
            <button type="button">
              <select class="collage-filter" id="display">
                <option value="default">Collage Only</option>
                <option value="list">With List</option>
                <option value="overlay">With Text</option>
              </select>
            </button>
          </td>
          <td>
            <button class="filter-button" type="submit">Apply Filters</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <!--List of Tracks or Artists-->
  <ol class="collage-list"></ol>
  <!-- Collage -->
  <div class="three row" style="display: none;">
    <div class="col">
      <img id="0" src="" alt="collage-image">
      <p class="display-text"></p>
    </div>
    <div class="col">
      <img id="1" src="" alt="collage-image">
      <p class="display-text"></p>
    </div>
    <div class="col">
      <img id="2" src="" alt="collage-image">
      <p class="display-text"></p>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <img id="3" src="" alt="collage-image">
      <p class="display-text"></p>
    </div>
    <div class="col">
      <img id="4" src="" alt="collage-image">
      <p class="display-text"></p>
    </div>
    <div class="col">
      <img id="5" src="" alt="collage-image">
      <p class="display-text"></p>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <img id="6" src="" alt="collage-image">
      <p class="display-text"></p>
    </div>
    <div class="col">
      <img id="7" src="" alt="collage-image">
      <p class="display-text"></p>
    </div>
    <div class="col">
      <img id="8" src="" alt="collage-image">
      <p class="display-text"></p>
    </div>
  </div>
  <div class="four row" style="display: none;">
    <div class="col">
      <img id="four0" src="" alt="collage-image">
      <p class="display-text"></p>
    </div>
    <div class="col">
      <img id="four1" src="" alt="collage-image">
      <p class="display-text"></p>
    </div>
    <div class="col">
      <img id="four2" src="" alt="collage-image">
      <p class="display-text"></p>
    </div>
    <div class="col">
      <img id="four3" src="" alt="collage-image">
      <p class="display-text"></p>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <img id="four4" src="" alt="collage-image">
      <p class="display-text"></p>
    </div>
    <div class="col">
      <img id="four5" src="" alt="collage-image">
      <p class="display-text"></p>
    </div>
    <div class="col">
      <img id="four6" src="" alt="collage-image">
      <p class="display-text"></p>
    </div>
    <div class="col">
      <img id="four7" src="" alt="collage-image">
      <p class="display-text"></p>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <img id="four8" src="" alt="collage-image">
      <p class="display-text"></p>
    </div>
    <div class="col">
      <img id="four9" src="" alt="collage-image">
      <p class="display-text"></p>
    </div>
    <div class="col">
      <img id="four10" src="" alt="collage-image">
      <p class="display-text"></p>
    </div>
    <div class="col">
      <img id="four11" src="" alt="collage-image">
      <p class="display-text"></p>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <img id="four12" src="" alt="collage-image">
      <p class="display-text"></p>
    </div>
    <div class="col">
      <img id="four13" src="" alt="collage-image">
      <p class="display-text"></p>
    </div>
    <div class="col">
      <img id="four14" src="" alt="collage-image">
      <p class="display-text"></p>
    </div>
    <div class="col">
      <img id="four15" src="" alt="collage-image">
      <p class="display-text"></p>
    </div>
  </div>
</body>

</html>
